// Global styling for this template
body {
  overflow-x: hidden;
  @include subheading-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}


section {
  padding: 100px 0;
  h1.section-heading {
    font-weight: 550;
    font-size: 55px;
    color: $navy;
    margin-top: 0;
    margin-bottom: 15px;
    @include script-font;
  }
  h2.section-heading {
    font-weight: lighter;
    font-style: italic;
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h2::first-letter { 
    font-size: 150%;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include subheading-font;
  }
  h3.invitation-subheading {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 15px;
    text-transform: none;
    @include subheading-font;
  }
}
@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}

// Label Styles
.invitation-text {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 15px;
  text-transform: none;
  @include subheading-font;
}

// Button Styles
.btn {
  @include heading-font;
  font-weight: 500;
  font-style: italic;
  line-height: 10px;
}

.btn-xl {
  font-size: 22px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 7.5%) !important;
    border-color: darken($primary, 7.5%) !important;
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem #556e669f !important;
  }
}

// Highlight color customization
::-moz-selection {
  background: #B4D5FF;
  text-shadow: none;
}

::selection {
  background: #ACCEF7;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
