// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
 @mixin body-font {
  font-family: 'lato', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 }
 
 @mixin heading-font {
  font-family: Georgia, 'Droid Serif','Times New Roman', Times, serif;
 }
 @mixin script-font {
  font-family: 'Snell Roundhand', 'Pinyon Script', 'Helvetica Neue', Arial, cursive;
 }
 @mixin subheading-font {
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
 }